Makefile
Makefile.in
*.lo
*.la
*.o
*~
/aclocal.m4
/autom4te.cache
config.h.in
/config.log
/config.status
/libtool
/tmp
/config
/m4/
/test/log/
/test/lib/
/chupatext/chupa_version.h
/chupatext/config.h
/chupatext/stamp-h1
/chupatext/chupa
/configure
.deps/
.libs/
strace.out
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/chupatext/chupa_enum_types.c
/chupatext/chupa_enum_types.h
/chupatext/chupa_marshalers.c
/chupatext/chupa_marshalers.h
/chupatext/stamp-chupa_enum_types-c
/chupatext/stamp-chupa_enum_types-h
/apt/debian/
/apt/ubuntu/
.gdb_history
/*.tar.gz
/*.pc
/test/temp/*
/chupatext/chupatext
/version.txt
/misc/
/doc/*.man
/doc/*.jman
/doc/reference/*.stamp
/doc/reference/tmpl/
/doc/reference/xml/
/doc/reference/html/
/doc/reference/ja/
/doc/reference/chupatext-decl-list.txt
/doc/reference/chupatext-decl.txt
/doc/reference/chupatext-overrides.txt
/doc/reference/chupatext-sections.txt
/doc/reference/chupatext-undeclared.txt
/doc/reference/chupatext-undocumented.txt
/doc/reference/chupatext-unused.txt
/doc/reference/chupatext.args
/doc/reference/chupatext.hierarchy
/doc/reference/chupatext.interfaces
/doc/reference/chupatext.pot
/doc/reference/chupatext.prerequisites
/doc/reference/chupatext.signals
/doc/reference/chupatext.types
/doc/reference/main.sgml
/doc/reference/version.xml
/doc/reference/readme.*
/doc/reference/chupatext.xml*
/doc/reference/news.*
/doc/reference/install-to-*
