Makefile
Makefile.in
*.lo
*.la
*.o
*~
/aclocal.m4
/autom4te.cache
config.h.in
/config.log
/config.status
/libtool
/tmp
/config
/m4/
/test/log/
/test/lib/
/chupatext/chupa_version.h
/chupatext/config.h
/chupatext/stamp-h1
/chupatext/chupa
/configure
.deps/
.libs/
strace.out
/po/Makefile.in.in
/po/POTFILES
/po/stamp-it
/chupatext/chupa_enum_types.c
/chupatext/chupa_enum_types.h
/chupatext/chupa_marshalers.c
/chupatext/chupa_marshalers.h
/chupatext/stamp-chupa_enum_types-c
/chupatext/stamp-chupa_enum_types-h
/apt/debian/
/apt/ubuntu/
.gdb_history
/*.tar.gz
/*.pc
/test/temp/*
/chupatext/chupatext
