Makefile
Makefile.in
*.lo
*.la
*.o
/aclocal.m4
/autom4te.cache
config.h.in
/config.log
/config.status
/libtool
/tmp
/config
/m4/
/test/log/
/chupatext/version.h
/chupatext/config.h
/chupatext/stamp-h1
/chupatext/chupa
/configure
.deps/
.libs/
strace.out
